<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis odio, ultrices vel pretium ut, ornare in lectus. Sed dignissim scelerisque nulla eu euismod. In vitae pretium elit. Curabitur scelerisque porttitor vehicula. Vivamus scelerisque mi a dui interdum, a ultrices felis aliquet. Sed vel eros semper, vulputate eros lacinia, interdum lorem. Sed porttitor elit nec eleifend pretium. Quisque sit amet ante ac odio pharetra consequat.</p>
  </div>
</div>